---
import RowPair from "./RowPair.astro";
---

<div class="bg-white overflow-hidden">
    <div class="mt-[30px] text-[36px] flex justify-center underline">Specifications</div>
    <div>
        <table class="border-2 border-black w-11/12 md:9/12 mx-auto">
           <RowPair tabletitle="MODEL:" tableinfo=" IDINO NOTEPAD 8 Kids Educational Tablet" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={true}/>
            <RowPair tabletitle="Model" tableinfo="hello what are you doing" even={false}/>

        </table>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
    .fontlogo{
        font-family: 'Bricolage Grotesque';
    }
  </style>