---
import RowPair from "./RowPair.astro";
---

<div class="bg-white overflow-hidden pb-[40px]" id="specs">
    <div class="mt-[30px] text-[36px] flex justify-center underline">Specifications</div>
    <div>
        <table class="border-2 border-black w-11/12 md:9/12 mx-auto">
           <RowPair tabletitle="MODEL:" tableinfo=" IDINO NOTEPAD 8 Kids Educational Tablet" even={false}/>
            <RowPair tabletitle="COLOUR" tableinfo="MIX" even={true}/>
            <RowPair tabletitle="OS VERSION" tableinfo="ANDRIOD OS, 12.0" even={false}/>
            <RowPair tabletitle="SCREEN SIZE" tableinfo="8 INCH" even={true}/>
            <RowPair tabletitle="SIM SUPPORT" tableinfo="YES" even={false}/>
            <RowPair tabletitle="DATA" tableinfo="YES" even={true}/>
            <RowPair tabletitle="CONNECTIVITY" tableinfo="WIFI, SIM(5G enabled)" even={false}/>
            <RowPair tabletitle="STORAGE" tableinfo="256GB" even={true}/>
            <RowPair tabletitle="RAM" tableinfo="6GB" even={false}/>
            <RowPair tabletitle="PROCESSOR TYPE" tableinfo="QUAD CORE 1.3GHZ" even={true}/>
            <RowPair tabletitle="CAMERA" tableinfo="DUAL CAMERA (FRONT/BACK)" even={false}/>
            <RowPair tabletitle="PRIMARY" tableinfo="PRIMARY: 8MP" even={true}/>
            <RowPair tabletitle="SECONDARY" tableinfo="SECONDARY: 8MP" even={false}/>
            <RowPair tabletitle="BATTERY" tableinfo="LI-ON BATTERY 4000MAH" even={true}/>
            <RowPair tabletitle="IN THE BOX" tableinfo="FREE POUCH, BLUETOOTH EARPIECE, FREE WIRELESS KEYBOARD, SCREEN PROTECTOR, CHARGER, USB CABLE, USER MANUAL." even={false}/>
           
        </table>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
    .fontlogo{
        font-family: 'Bricolage Grotesque';
    }
  </style>